@media (max-width: 600px) {
  .events-table, .spotify-player {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
}

body {
  padding-top: 50px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.social-icon {
  font-size: 6.0rem;
  color: #000;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #007bff;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .social-icon {
    font-size: 4.0rem;
  }

  .social-media {
    gap: 1.5%;
  }
}

@media (max-width: 576px) {
  .social-icon {
    font-size: 3.0rem;
  }

  .social-media {
    gap: 1%;
  }
}

.carousel-image-container {
  position: relative;
  padding-bottom: 56.25%;
  /* Verhältnis 16:9 */
  height: 0;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.name-container {
  min-height: 80px;
}

.container {
  padding: 80px 120px;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  opacity: 0.7;
}

.person:hover {
  border-color: #f1f1f1;
}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  /* Alle Fotos im Karusell s/w */
  width: 100%;
  /* Breite der Fotos immer displybreit */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    /* Bei <600px Text im Karusell ausblenden */
  }
}